.settings/

bin/
gen/

# Files for the Dalvik VM
*.dex

# Java class files
*.class

*/R.java
*.apk
*.ap_

# Gradle files
*/.gradle/
build/
#android studio configuration files
*.iml
.idea/
sample/app/mapping.txt
