<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <permission android:name="com.android.permission.STUDY_RECEIVER" />
    <permission android:name="com.android.permission.SEND_STUDY" />

    <uses-permission android:name="com.android.permission.STUDY_RECEIVER" />

    <application
        android:allowBackup="true"
        android:name="com.study.mobile.StudyApplication"
        android:icon="@drawable/icon_launcher"
        android:label="@string/name_main"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CycleActivity"
            android:label="@string/name_cycle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.CycleBlendActivity"
            android:label="@string/name_cycle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ServiceActivity"
            android:label="@string/name_service"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.BroadcastActivity"
            android:label="@string/name_broadcast"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ProcessActivity"
            android:label="@string/name_broadcast"
            android:launchMode="singleTask"
            android:process="com.study.process"
            android:theme="@style/AppTheme" />
        <!-- receiver -->
        <receiver
            android:name=".broadcast.StaticBroadcastReceiver"
            android:label="@string/name_static_broadcast"
            android:permission="com.android.permission.SEND_STUDY" >
            <!-- 当前app不得申请com.android.permission.SEND_STUDY权限 -->
            <intent-filter>
                <action android:name="com.study.mobile.staticbroadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>